@page "/feature-tester"
@using BlazorAppWasm.ApplicationCore.Services
@using System.ComponentModel.DataAnnotations
@inject UserManagerFeatureTesterService umftService;
@inject ILogger<FeatureTesterPage> logger

<PageTitle>Feature Tester Page</PageTitle>


<div class="feature-tester-page">
    <h1>FeatureTesterPage</h1>

    <EditForm class="form" Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <Label>
            HttpMethod:
            <InputText @bind-Value="exampleModel.HttpMethod" />
        </Label>
        <label>
            UriPath:
            <InputText id="name" @bind-Value="exampleModel.UriPath" />
        </label>

        <button type="submit">Submit</button>
    </EditForm>

    <div>
        Result: @_result
    </div>
</div>

@code {
    private class ExampleModel
    {
        [Required]
        [StringLength(10, ErrorMessage = "HttpMethod is too long.")]
        public string HttpMethod { get; set; } = string.Empty;

        [Required]
        public string UriPath { get; set; } = string.Empty;
    }

    private ExampleModel exampleModel = new();
    private string _result = string.Empty;

    private void HandleValidSubmit()
    {
        logger.LogInformation("HandleValidSubmit called");
        try
        {
            var feature = umftService.Test(exampleModel.HttpMethod, exampleModel.UriPath);
            logger.LogDebug($"Feature encontrada: {feature.Name}");
            _result = feature.Name;
        }
        catch (Exception exc)
        {
            logger.LogError(exc, "Erro ao testar feature");
            _result = exc.Message;
        }
    }
}